<div class="modal fade" tabindex="-1" role="dialog" id="board-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">C'est la vie</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
        </table>
      </div>
      <div class="modal-footer">
        <a href="<%= summary_room_path(room_id)%>" target="_blank" class="pull-left">View summary</a>
        <a href="<%= room_path(room_id, format: "xlsx")%>" target="_blank" class="pull-left" style="margin-left: 10px;">Download report</a>
        <button type="button" class="btn btn-info" data-room-id="<%= room_id %>" id="synk-link">Update to JIRA</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
