<a class="story-list-item" href="<%= show_story_link(story.link) %>", target="_blank">
  <h5 class="story-list-item-heading"><%= story.link %></h5>
  <p class="story-list-item-text">
    <span>Point: <%= story.point %></span>
  </p>
</a>