<%
  title "Dashboard"
%>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="dashboard">
      <div class="panel panel-default">
        <div class="panel-body">
          <canvas id="myChart" width="400" height="260"></canvas>
        </div>
      </div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#participated" aria-controls="participated" role="tab" data-toggle="tab">Participated</a></li>
        <li role="presentation"><a href="#created" aria-controls="created" role="tab" data-toggle="tab">Created</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="participated">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="list-group">
                <%= render partial: "dashboard/room_item", collection: @partipated_rooms, as: :room %>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="created">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="list-group">
                <%= render partial: "dashboard/room_item", collection: @created_rooms, as: :room %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<script type="text/javascript">
  var chartLabels = <%= raw current_user.rooms.map(&:created_at_in_short).to_json %>;
  var chartData = <%= raw current_user.rooms.map{|room|room.users.length}.to_json %>;
</script>