language: ruby
env:
  global:
    - USE_OFFICIAL_GEM_SOURCE=1
    - COVERAGE=true
    - RAILS_ENV=test
    - CXX=g++-4.9

services:
  - postgresql
  - redis-server

rvm:
  - 2.3.4
  - 2.4.1
  - 2.5.1

sudo: true
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9

before_install:
  - nvm install node
  - gem install bundler

install:
  - bundle install
  - nvm install stable && nvm alias default stable
  - npm install -g npm@5.6.x
  - npm install -g yarn
  - node --version
  - npm --version
  - yarn install

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -d "travis_ci_test" -U postgres -c "create extension pg_trgm"
  - cp config/database.yml.template config/database.yml
  - rake db:migrate
  - cd client && yarn run test && cd ..

script: rspec
cache: bundler
cache: yarn
