language: ruby
env:
  global:
    - USE_OFFICIAL_GEM_SOURCE=1
    - COVERAGE=true
    - RAILS_ENV=test
    - PGPORT=5433

addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10

services:
  - redis-server

rvm:
  - 2.6.6
  - 2.7.2

sudo: true
dist: bionic

addons:
  postgresql: "10"
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - postgresql-10
      - postgresql-client-10

before_install:
  - sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
  - sudo service postgresql restart
  - sleep 1
  - gem install bundler

install:
  - bundle install
  - nvm install 12.10.0 && nvm alias default 12.10.0
  - npm install -g npm@6.10.x
  - npm install -g yarn
  - node --version
  - npm --version
  - yarn install

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -d "travis_ci_test" -U postgres -c "create extension pg_trgm"
  - cp config/database.yml.template config/database.yml
  - rake db:migrate
  - cd client && yarn && yarn run test && cd ..

script: rspec
cache: bundler
cache: yarn
