<%
  title "Schemes"
%>
<div class="row room">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Schemes</h3>
      </div>
      <div class="panel-body">
        <a href="<%= new_scheme_path %>" class="btn btn-default">Create scheme</a>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
