<%
  title "Schemes"
%>
<div class="row room">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Schemes</h3>
      </div>
      <div class="panel-body">
        <a href="<%= new_scheme_path %>" class="btn btn-default">Create scheme</a>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Content</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <% @schemes.each_with_index do |scheme, index| %>
              <tr>
                <td><%= index %></td>
                <td><%= scheme.name %></th>
                <td><%= scheme.points.join(", ") %></th>
                <td>
                  <a href="#">Manage</a>
                  <a href="#">Remove</a>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
