<%
  title "Create scheme"
%>
<div class="row scheme">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create scheme</h3>
      </div>
      <div class="panel-body">
        <a href="<%= schemes_path %>" class="btn btn-default">Schemes list</a>
        <hr />
        <%= render "schemes/form" %>
      </div>
    </div>
  </div>
</div>
