<%
  title "Create scheme"
%>
<div class="row scheme">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Schemes</h3>
      </div>
      <div class="panel-body">
        <%= form_for @scheme, html: {class: "form-inline scheme-form", role: "form"} do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control scheme-form--name", placeholder: "Scheme name" %>
          </div>
          <div class="form-group">
            <label for="scheme-point">Point</label>
            <input type="text" id="scheme-point" class="form-control scheme-form--input" placeholder="Type here" />
          </div>
          <button type="button" class="btn btn-default scheme-form--add">Add</button>
          <hr />
          <%= f.select :points, @scheme.points||[], {}, {multiple: true} %>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
