.tour-guide {
  position: relative;

  a {
    bottom: -35px;
    position: absolute;
    width: 100px;
    color: #444;
    text-decoration: none;
    cursor: pointer;
  }
}

.room__status_bar .room__title {
  margin-top: 10px;
}

a.role__option {
  cursor: pointer;
}

@media only screen and (max-device-width: 736px) {
  .room__status_bar {
    .room__title {
      margin-top: -5px;
    }

    .tour-guide {
      display: none;
    }

    .status-bar__operations {
      margin-bottom: 10px;
    }

    .status-bar__qr {
      text-align: center;
    }
  }
}
