<!--
---
title: "Ads"
date: "2018-03-31"
---
-->

<%
  title "Ads"
  description "Pokrex shows advertisement at right rail on dashboard page. I made this decision try to make dime to support Pokrex for daily cost."
%>

<h1>Give ads a try</h1>

<p>Two days agao, this Thursday, I added an advertisement on Pokrex dashboard page. It's at the right rail. You may have seen it.</p>

<p>I've had this thought for a long time. Till this Thursday, I decided to make it happen. So I choose a right rail position, which is a good place to show an ads and won't distract user much. As a free online planning poker tool, it offers convenience/help to software development teams, there's a cost running it. I spent much time on this project, even my spare time ;-), so far it's 1525 commits on <a href="https://github.com/hlcfan/pokr/commits/master">https://github.com/hlcfan/pokr</a>. It's running on Google cloud, which is an ubuntu VM. Currently on free plan, Google cloud let me have one year free trial, it has about 100 days left now. Therefore, about time to think about the afterwards. Advertisements come to my mind as a common way, a lot of sites/apps serve ads and make money. So I might give ads a try on Pokrex and I did it. Pokrex is an exclusive tool for development teams who apply agile development method, so there ain't too many people using it. Out of this, the commission is nil in the past two days 😥. Hope it'll bring some commission, so that I can keep offering services. I might switch to heroku free dyno, but that would have some network troubles for people out of US.</p>

<p>Another option is to ask for donation. Unfortunately, I cannot apply for Stripe payment, as I'm not from US. It requires tax number.etc. I did apply a Paypal payment, haven't put it on the site yet and I dunno how many people use Paypal, obvious credit card is popular. I might ask help from my friend in US to sign up Stripe payment for me.</p>

<p>Only offering the "online planning poker" feature isn't enough to earn money, yet I don't have other good ideas, so be it.</p>

