<!--
---
title: "Why grooming session is important?"
date: "2018-03-15"
---
-->

<%
  title "Why grooming session is important"
  description "Grooming session helps not only developers' professionalism and productivity but also the deliver capacity within development cycle(sprint)."
%>

<h1>Why grooming session is important?</h1>

<p>I've seen many of the medium and small companies, who have no grooming session during software development. The development manager usually do the job, like task size estimation and task assignment. Well, this is not recommended for small teams, not even medium teams.</p>

<p>There're always cases that developer or development manager ain't familiar with every part of a whole system in detail. It's possible that they neglect some of the traps that would just cause big effort. Who would familiar with the traps? Of course the developers who spends time on it. Dreaded memories that never forgot, LOL. If all the developers participates in the task estimation which is grooming session, things will change better. The one with more experience on the task will tell more information that others may not know, which greatly helps with reasonable estimation and leads to rather good development capacity within development cycle. If others don't agree with it, then a discussion emerges. Pretty sure, discussion yields reasonable estimation.</p>

<p>Is grooming session wasting time? That depends. But most of the time, it's worthy. Like I state above, during the grooming session, developers would know better about the software system, by having discussion with colleagues. That makes team members' more professional and improves the ability, which can produce productivity and smooth the development. Not mention that our software developer not just sitting there coding all day, we should talk with each other.</p>

<p>If I ever got a chance, I tell it's important to try conduct grooming sessions. Especially with <a href="https://pokrex.com">Pokrex</a>, online planning poker tool, it makes grooming meeting efficient and fun.</p>

<p>Date: 2018-03-14</p>