<!--
---
title: "Sustainable Service"
date: "2018-11-04"
---
-->

<%
  title "Sustainable service"
  description "Pokrex charges a small fee for daily running cost."
%>

<h1>Sustainable service</h1>

<p>
  It’s been 2 years since <a href="https://pokrex.com/" title="Pokrex">Pokrex</a> launched. I hope that <a href="https://pokrex.com/" title="Pokrex">Pokrex</a> brings efficiency and simplicity to your grooming sessions. In order to cover the cost of keeping the service running, I have decided to charge a small fee for some of the features. It is a freemium model; most of the general features will be free to use. For some of the other features such as JIRA syncing and Async game mode, users will have to pay. Of course, for most agile teams, the free version will be enough.
</p>

<p>
  <h3>The free version will have following features:</h3>
  <ul>
    <li>Unlimited rooms</li>
    <li>1 custom point scheme</li>
    <li>10 participants</li>
    <li>Export to Excel</li>
  </ul>

  <h3>While the premium version will have following features:</h3>
  <ul>
    <li>Unlimited rooms</li>
    <li>Unlimited custom point schemes</li>
    <li>Unlimited participants</li>
    <li>Export to Excel</li>
    <li>JIRA integration</li>
    <li>Async game mode</li>
  </ul>
</p>

<p>
  The pricing will be $7 per month for premium version. The payment method will be Paypal or Paypal credit card payment. Other than being our premium member, if you like Pokrex for being a good tool, reward me at https://pokrex.com/donate 🤗.
</p>

<p>
  Also if you have any suggestions regarding <a href="https://pokrex.com/" title="Pokrex">Pokrex</a>, please leave comments below or contact me via the widget at bottom right corner, I want to make it a better service. And it will get better with your support.
</p>