<!--
---
title: "Why grooming session is important?"
date: "2018-03-15"
---
-->

<h1>Why grooming session is important?</h1>

<p>I've seen many of the medium and small companies, who have no grooming session during software development. The development manager usually do the job, like task size estimation and task assignment. Well, this is not recommended for small teams, not even medium teams.</p>