development: &default_settings
  adapter: postgresql
  host: localhost
  database: poker_development
  username: root
  password: 
  encoding: unicode

test: &test
  adapter: postgresql
  database: travis_ci_test
  username: root
  password: 
  encoding: unicode

production:
  adapter: postgresql
  host: localhost
  database: poker_production
  username: root
  password: 
  pool: 10
  encoding: unicode
