👋👋👋 there,

Hope you're doing well.

It’s been 2 years since <a href="https://pokrex.com" target="_blank">Pokrex</a> launched. I hope that <a href="https://pokrex.com" target="_blank">Pokrex</a> brings efficiency and simplicity to your grooming sessions. In order to cover the cost of keeping the service running, I have decided to charge a small fee for some of the features. It will be a freemium model; most of the general features will be free to use. For some of the other features such as JIRA syncing and Async game mode, users will have to pay. Of course, for most agile teams, the free version will be enough.

The Free version will have following features:
1. Unlimited rooms
2. 1 custom point scheme
3. 10 participants

While the Pro version will have following features:
1. Unlimited rooms
2. Unlimited custom point schemes
3. Unlimited participants
4. JIRA integration
5. Async game mode

The pricing will be $7 per month for Pro version. The payment method will be Paypal or Paypal credit card payment. I almost finished the Paypal integration, so currently all features are still free. I'd like to know your thoughts. Feel free to share with me. If you like <a href="https://pokrex.com" target="_blank">Pokrex</a> for being a good tool, reward me at <a href="https://pokrex.com/donate" target="_blank">https://pokrex.com/donate</a> 🤗.

Also if you have any suggestions regarding <a href="https://pokrex.com" target="_blank">Pokrex</a>, please let me know, I want to make it a better service. And it will get better with your support.

Have a good one!

- Alex
