<div class="row organization">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @org[0] %></h3>
      </div>
      <div class="panel-body">
        <div class="organization__members">
          <% if @org.empty? %>
            <div class="alert alert-info" role="alert">You don't have any teams.</div>
            <a class="organization__create btn btn-info">Create one!</a>
          <% else %>
            <ul class="list-group organization__members-group">
              <%= render partial: "organization/member", locals: { name: @org[:name], uid: @org[:uid], members: @org[:members] } %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
