<div class="panel panel-default">
  <div class="panel-heading">Vote</div>
  <div class="vote-list panel-body row">
    <div class="col-md-12">
      <ul class="list-inline">
        <% [0, 2, 3, 5, 8, 13, 20, 40, 100, 'coffee'].each do |point| %>
          <li><input class="btn btn-default btn-lg <%= 'btn-info' if points == point.to_s %>" type="button" value="<%= point %>"></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.vote-list ul li input').on('click', function(e){
    var node = $(this);

    $.ajax({
      url: '/rooms/' + <%= @room.id %> + '/vote',
      data: { points: node.val(), story_id: POKER.story_id },
      method: 'post',
      dataType: 'json',
      cache: false,
      success: function(data) {
        // Remove all selected points
        $('.vote-list ul li input').removeClass('btn-info');
        node.toggleClass('btn-info');
        // Tell others
        // var channelName = ['/rooms', POKER.room_id, POKER.story_id].join('/')
        // client.publish(channelName, {
        //   text: 'Hello world'
        // });

        // var public_subscription = client.subscribe(channelName, function(data) {
        //   console.log(data);
        //   $('#p-' + data.person_id).find(".points").text(data.points);
        // });
      },
      error: function(xhr, status, err) {
        console.error(status, err.toString());
      }
    });
  })
</script>