<div id="operationArea" class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">Stories</div>
    <div class="vote-list panel-body row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li><input class="btn btn-default btn-lg" type="button" value="0"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="2"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="3"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="5"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="8"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="13"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="20"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="40"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="100"></li>
          <li><input class="btn btn-default btn-lg" type="button" value="coffee"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Stories</div>
    <div id="storyListArea" class="panel-body row"></div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">People</div>
    <div id="peopleListArea" class="panel-body row">
    </div>
  </div>
</div>
