<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Wut's your name?</h3>
      </div>

      <div class="panel-body">
        <%= form_for "/set_person_name", method: :post do |f| %>
          <div class="form-group">
            <%= text_field_tag :redirect, params[:redirect], hidden: true %>
            <%= text_field_tag :name, '', {class: 'form-control', placeholder: 'name here'} %>
          </div>
          <%= f.submit "Submit", class: 'btn btn-default' %>
        <% end %>
      </div>
    </div></div>
  <div class="col-md-4"></div>
</div>

<style type="text/css">
  html, body, .container {
    height: 100%;
  }

  .row {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
</style>