<%= javascript_include_tag "http://localhost:9292/faye.js" %>

<script type="text/javascript" charset="utf-8">
  (function(){
    POKER.room_id = <%= @room.id %>
    POKER.currentVote = '<%= current_user.points_of_story(cookies[:story_id]) %>';
  }());
</script>

<div class="room" id="room">

</div>
