<script type="text/javascript" charset="utf-8">
  (function(){
    POKER.roomId = <%= @room.id %>;
    POKER.roomName = '<%= @room.name %>';
    POKER.role = '<%= current_user.user_room.display_role %>'
    POKER.currentVote = '<%= current_user.points_of_story(cookies[:story_id]) %>';
  }());
</script>

<div class="room" id="room">

</div>
