<%
  title "关于"
  description "Pokrex 是一个为敏捷团队打造的在线计划扑克，用来估算在软件开发的工作量。"
%>
<div class="row about">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8">
    <h1>关于</h1>
    <p>
      Pokrex 是 <a href="https://twitter.com/hlcfan" target="_blank">@hlcfan</a> 写的一个在线计划扑克，来帮助敏捷团队更好地进行估算软件开发工作量。
    </p>
    <p>
      简约和高效，是 Pokrex 的核心理念。借助于干净而富于直觉性的用户界面，让 planning 更加简单。最初之所以打算写这个工具，是因为国内的网络环境实在太差，再加上我们之前用的工具不是很稳定，其实也不好用。所以我开始重新写一个，主要关注点是可用性和完整全面的用户体验。
    <p>
      Pokrex 目前是一个完全免费的服务，欢迎所有的建议和批评！
    </p>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>