<%
  title "About"
  description "Pokrex is a online planning/pointing poker brought to you by hlcfan. Agile/scrum teams use it to estimate effort or relative size of development goals in software development."
%>
<div class="row about">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8">
    <h1>About</h1>
    <p>
      Pokrex is a online planning/pointing poker brought to you by <a href="https://twitter.com/hlcfan" target="_blank">@hlcfan</a>. Agile/scrum teams use it to estimate effort or relative size of development goals in software development.
    </p>
    <p>
      Simplicity and efficiency are at the heart of everything I do at Pokrex.
      It utilizes clean UI and intuitive interactions to make it make estimating easier. The original thought of building up this tool, is because the network environment in China sucks, most of the tools we were using ain't working smoothly. Then I started to create one to focus on usability and holistic user experience.
    <p>
      Pokrex is a completely free service and all your suggestions and criticism are welcomed!
    </p>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>