<%
  title "Download desktop applications"
description "Pokrex desktop application allows user to sync issue story point or story size to Jira. There're desktop apps for major operating systems, like Windows, MacOS, Ubuntu."
%>

<div class="row apps">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 main">
    <h1>Download desktop applications</h1>
    <div class="row">
      <div class="col-md-4">
        <h3>Windows</h3>
        <a href="/apps/Pokrex Setup 1.0.0.exe" target="_blank">
          <%= image_tag "apps/windows.png", size: "200x200" %>
        </a>
        <p><a href="/apps/Pokrex Setup 1.0.0.exe">Download - Size: 38.8MB</a></p>
      </div>
      <div class="col-md-4">
        <h3>MacOS</h3>
        <a href="/apps/Pokrex-1.0.0.dmg" target="_blank">
          <%= image_tag "apps/macos.png", size: "200x200" %>
        </a>
        <p><a href="/apps/Pokrex-1.0.0.dmg">Download - 53.9MB</a></p>
      </div>
      <div class="col-md-4">
        <h3>Ubuntu</h3>
        <a href="/apps/Pokrex_1.0.0_amd64.deb" target="_blank">
          <%= image_tag "apps/ubuntu.png", size: "200x200" %>
        </a>
        <p><a href="/apps/Pokrex_1.0.0_amd64.deb">Download - 37.1MB</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>
