<%
  title "捐款"
  description "Pokrex 是一个免费的在线计划扑克工具，为了为广大用户继续提供服务，你可以通过 Paypal，微信或者支付宝向我付款。"
%>
<div class="row donate">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 main">
    <h1>感谢你的捐款！</h1>
    <ul>
      <li>
        <h3>❤️<a href="https://www.paypal.me/hlcfan" target="_blank">通过 Paypal 捐款</a></h3>
      </li>
      <li>
        <h3>💚微信收款码</h3>
        <%= image_tag "wechat.jpg", size: "200x200" %>
      </li>
      <li>
        <h3>💙支付宝收款码</h3>
        <%= image_tag "alipay.jpg", size: "200x200" %>
      </li>
    </ul>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>
