<%
  title "Browser extensions"
description "Pokrex browser extensions allows user to import tickets into Pokrex and update story points or story size back to JIRA."
%>

<div class="row extensions">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 main">
    <h1>Steps to install Chrome extension</h1>
    <h4>
      Install Chrome extension to update points to JIRA within 1 minute
    </h4>
    <div class="row">
      <ol>
        <li><a href="/pokrex-chrome-extention-pack.zip"><b>Download</b></a> and extract extension zip file (95kb)</li>
        <li>Open URL: <b>chrome://extensions/</b> in Chrome</li>
        <li><b>Drag</b> extracted extension folder into the page</li>
      </ol>
      <img class="installation-image" src="/installachromeextension.png" alt="drag and install extension"/>
    </div>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>
