<%
  title "Browser extensions"
description "Pokrex browser extensions allows user to import tickets into Pokrex and update story points or story size back to JIRA. We have extensions for both Chrome and Firefox."
%>

<div class="row extensions">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 main">
    <h1>Install browser extension</h1>
    <div class="row">
      <div class="col-md-6 text-center">
        <a href="https://chrome.google.com/webstore/detail/pokrex-jira-assistant/bndnbeoklgjfpokbblifccahppafbfng?hl=en-US&gl=US" target="_blank">
          <%= image_tag "extensions/chrome.png", size: "200x200", alt: "Install pokrex jira assistant from Google chrome web store" %>
        </a>
        <p><a href="https://chrome.google.com/webstore/detail/pokrex-jira-assistant/bndnbeoklgjfpokbblifccahppafbfng?hl=en-US&gl=US">Install from Chrome web store</a></p>
      </div>
      <div class="col-md-6 text-center">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/pokrex-jira-assistant/" target="_blank">
          <%= image_tag "extensions/firefox.png", size: "200x200", alt: "Install pokrex jira assistant from Firefox Add-ons center" %>
        </a>
        <p><a href="https://addons.mozilla.org/en-US/firefox/addon/pokrex-jira-assistant/">Install from Firefox Add-ons center</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>
