<%
  title "常见问题"
  description "任何关于 Pokrex 的常见问题"
%>

<div class="row faq">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8">
    <h1>常见问题</h1>
    <h3>谁写的这个工具？</h3>
    <p>Alex 在空闲时间一个键一个键敲得。</p>
    <h3>怎么使用这个工具？</h3>
    <p>十秒注册，开始使用 😊</p>
    <h3>为什么写这个工具？</h3>
    <p>国内网络比较差，别的工具也太不好使。</p>
    <h3>Pokrex 都用了哪些技术？</h3>
    <p>
      <ul>
        <li>Rails</li>
        <li>ActionCable</li>
        <li>ReactJS</li>
        <li>PostgreSQL</li>
        <li>Bootstrap</li>
        <li>FontAwesome</li>
      </ul>
    </p>
    <h3>怎么进行反馈？</h3>
    <p>
      <ul>
        <li>点击右下角的反馈链接 <strong>Give feedback or need help</strong>。</li>
        <li>Github 上提 issues <a href="https://github.com/hlcfan/pokr/issues" target="_blank">https://github.com/hlcfan/pokr/issues</a></li>
      </ul>
    </p>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>