<%
  title "Frequently Asked Questions"
  description "Any questions about Pokrex."
%>

<div class="row faq">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8">
    <h1>FAQs</h1>
    <h3>Who built this tool?</h3>
    <p><a href="https://twitter.com/hlcfan">Alex</a>, in his spare time.</p>
    <h3>Why?</h3>
    <p>The network environment in China sucks, and other tools ain't that good.</p>
    <h3>What technology does Pokrex rely on?</h3>
    <p>
      <ul>
        <li>Rails</li>
        <li>ActionCable</li>
        <li>ReactJS</li>
        <li>MySQL</li>
        <li>Bootstrap</li>
        <li>FontAwesome</li>
      </ul>
    </p>
    <h3>How can a give feedback?</h3>
    <p>
      You can send feedback using one of the following methods:
      <ul>
        <li>Click <strong>Give feedback or need help</strong> at bottom right.</li>
        <li>If you're a GitHub user: Post an issue at <a href="https://github.com/hlcfan/pokr/issues" target="_blank">https://github.com/hlcfan/pokr/issues</a></li>
      </ul>
    </p>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>
