<%
  title "Frequently Asked Questions"
  description "Any questions about Pokrex."
%>

<div class="row faq">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8">
    <h1>FAQs</h1>
    <h3>Who built this tool?</h3>
    <p>Alex, in spare time.</p>
    <h3>How to use?</h3>
    <p>Just try with it, you'll get it.😊</p>
    <h3>Why built this tool?</h3>
    <p>The network environment in China sucks.</p>
    <h3>What're the techs this tool using?</h3>
    <p>
      <ul>
        <li>Rails</li>
        <li>ActionCable</li>
        <li>ReactJS</li>
        <li>MySQL</li>
        <li>Bootstrap</li>
        <li>FontAwesome</li>
      </ul>
    </p>
    <h3>Where can I post the feedback?</h3>
    <p>
      <ul>
        <li>Click <strong>Give feedback or need help</strong> at bottom right.</li>
        <li><a href="https://github.com/hlcfan/pokr/issues" target="_blank">https://github.com/hlcfan/pokr/issues</a></li>
      </ul>
    </p>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>