<%
  title "Pokrex pricing - Free, Premium, Enterprise pricing plans"
  description "Compare Pokrex pricing plan for your teams or companies."
%>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1 class="pricing-page__title">Choose the right plan for your team</h1>
    <table class="table">
      <thead>
        <tr class="pricing-page__plan">
          <td class="plan__placeholder"></td>
          <td class="plan__col col-md-3">
            Free
          </td>
          <td class="plan__col col-md-3">
            Premium
            <div class="col__package">
              $7 / team / month
            </div>
          </td>
          <td class="plan__col col-md-3">
            Enterprise
            <div class="col__package">
              $200 / company / year
            </div>
          </td>
        </tr>
        <tbody>
          <tr class="pricing-page__feature">
            <td class="feature__title">Unlimited rooms</td>
            <td class="feature__option">
              <svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
            </td>
            <td class="feature__option">
              <svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
            </td>
            <td class="feature__option">
              <svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
            </td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Custom point scheme</td>
            <td class="feature__option">1</td>
            <td class="feature__option">Unlimited</td>
            <td class="feature__option">Unlimited</td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Participants</td>
            <td class="feature__option">7</td>
            <td class="feature__option">Unlimited</td>
            <td class="feature__option">Unlimited</td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">JIRA integration</td>
            <td class="feature__option"></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Async game mode</td>
            <td class="feature__option"></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Teams supported</td>
            <td class="feature__option"></td>
            <td class="feature__option">1</td>
            <td class="feature__option">Unlimited</td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Mobile friendly</td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Classic mode</td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Egg timer</td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Grooming history</td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
          <tr class="pricing-page__feature">
            <td class="feature__title">Grooming statistics</td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
            <td class="feature__option"><svg class="option--check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg></td>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>
