.invitation__link {
  color: #444;
  text-decoration: none;
}

#invitation {
  .add {
    margin-top: 10px;

    a {
      text-decoration: none;
    }
  }

  .remove {
    margin-top: 3px;
    padding-left: 0;
    font-size: 1.3em;
  }

  .invitation__icon--on {
    color: #5bc0de;
  }

  .invitation--sent {
    text-align: center;
  }
}