@charset "utf-8";

body {background:image-url("404/content_bg3.gif");}
#top {position:absolute;top:50px;left:0;width:100%;background:image-url("404/page_bg2.gif");height:510px;}
#top span {position:absolute;bottom:0;left:0;width:100%;height:8px;background:image-url("404/content_bg4.gif");}
#container {position:relative;width:960px;margin:0 auto;z-index:1;height:570px;}

#case {position:absolute;background:image-url("404/case.png") no-repeat left top;width:259px;height:100px;top:452px;left:305px;z-index:4;}
#dino {position:absolute;background:image-url("404/dino.png") no-repeat left top;width:525px;height:524px;top:14px;left:366px;z-index:2;}
#m1 {position:absolute;background:image-url("404/montagna_back.png") no-repeat left top;width:322px;height:355px;top:164px;left:318px;z-index:1;}
#m2 {position:absolute;background:image-url("404/montagna-dx.png") no-repeat left top;width:229px;height:264px;top:271px;left:740px;z-index:3;}
#m3 {position:absolute;background:image-url("404/montagna-sx.png") no-repeat left top;width:256px;height:290px;top:255px;left:643px;z-index:5;}

#logo {position:absolute;top:330px;left:-40px;background:image-url("404/logo.png") no-repeat center top;width:300px;height:237px;text-indent:-999em;z-index:1;}
#content {position:absolute;top:40px;left:0;width:260px;z-index:2;}
#content #title {font-family:'Bree serif',serif;font-size:61px;line-height:61px;font-weight:normal;color:#646159;margin-bottom:15px;}
#content #subtitle {font-family:'MuseoSans',Helvetica,sans-serif;color:#989280;font-size:22px;line-height:25px;margin-bottom:10px;font-weight:normal;text-transform:uppercase;margin-bottom:30px;}
#content #subtitle strong {font-weight:normal;font-size:40px;line-height:42px;display:block;}
#content #subtitle a {color: #989280;}
#content p {margin-bottom:20px;}