.dashboard {
  .nav-tabs li:first-child {
    margin-left: 15px;
  }

  .nav.nav-tabs a {
    color: #333;
  }

  .tab-content a.room-list-item {
    display: block;
    text-decoration: none;
    padding-left: 15px;
    border-bottom: 1px dashed #ddd;
    position: relative;

    .status {
      position: absolute;
      right: 10px;
      top: 26%;
    }

    .room-list-item-heading {
      color: #333;
      margin-bottom: 20px;
    }

    .room-list-item-text {
      margin-bottom: 15px;

      span {
        font-size: 13px;
        color: #777;
      }

      span.divider {
        color: #333;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}