.dashboard {
  .participated a.room-list-item, a.story-list-item {
    display: block;
    text-decoration: none;
    padding-left: 15px;
    border-bottom: 1px dashed #ddd;
    position: relative;

    .status {
      position: absolute;
      right: 10px;
      top: 26%;
    }

    .room-list-item-heading, .story-list-item-heading {
      color: #333;
      margin-bottom: 20px;
      word-wrap: break-word;
    }

    .room-list-item-text, .story-list-item-text {
      margin-bottom: 15px;

      span {
        font-size: 13px;
        color: #777;
      }

      span.divider {
        color: #333;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .story-list-item-heading {
      margin-bottom: 10px;
      line-height: 1.5;
    }

    .story-list-item-text {
      margin-bottom: 10px;
    }
  }

  a.more {
    display: block;
    text-align: center;
    text-decoration: none;

    &:before {
      content: " ";
      background: image-url("gear.svg");
      width: 20px;
      height: 20px;
      background-size: 100%;
      display: inline-block;
      position: absolute;
      left: 53%;
    }
  }

  a.story-list-item {
    padding-left: 5px;

    span.label {
      font-size: 75%;
      color: #fff;
    }
  }

  .panel-body {
    padding-top: 0;
  }

  .stats {
    .panel-heading {
      padding-bottom: 0;
    }

    .stats--data {
      font-size: 2em;
      margin-bottom: 0;
    }
  }
}