.dashboard {
  .nav-tabs li:first-child {
    margin-left: 15px;
  }

  .nav.nav-tabs a {
    color: #333;
  }

  .tab-content a.list-group-item {
    display: block;

    .status {
      position: absolute;
      right: 10px;
      top: 40%;
    }

    .list-group-item-heading {
      margin-bottom: 20px;
    }

    .list-group-item-text {
      span {
        font-size: 13px;
        color: #777;
      }

      span.divider {
        color: #333;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}