@import 'global_vars';

$default_font_color: #46b8da;
@font-face {
  font-family: 'Open Sans';
  src: asset-url("Light/OpenSans-Light.eot?v=1.1.0");
  src: asset-url("Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), asset-url("Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), asset-url("Light/OpenSans-Light.woff?v=1.1.0") format("woff"), asset-url("Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), asset-url("Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: asset-url("Regular/OpenSans-Regular.eot?v=1.1.0");
  src: asset-url("Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), asset-url("Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), asset-url("Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), asset-url("Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), asset-url("Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: asset-url("Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: asset-url("Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), asset-url("Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), asset-url("Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), asset-url("Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), asset-url("Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

html {
  background-color: transparent;
  // background-image: image-url('/assets/bg.png');
  body.home {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.middle {
  float: none;
  margin: 0 auto;
}

#nav {
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  width: 100%;
  .nav-inner {
    background: #FFFFFF;
  }
  .container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    .right {
      float: right;
      span.text {
        padding: 15px 0 15px 15px;
      }
    }
  }
  .nav-logo {
    line-height: 50px;
    font-size: 2em;
    margin-bottom: -45px;
    a {
      width: 120px;
      margin: 0 auto;
      text-decoration: none;
      color: $default_font_color;
    }
  }
}

.header-section {
  background: #fff;
  .container {
    text-align: center;

    a.logo {
      position: absolute;
      text-decoration: none;
      color: #848484;
      font-size: 4rem;
      line-height: 90px;
      left: 50%;
      width: 90px;
      margin-left: -35px;
      font-weight: 300;

      span {
        color: $default_font_color;
      }
    }

    .header-actions {
      line-height: 90px;

      .link {
        font-weight: 300;
        font-size: 1.8rem;
        color: #848484;
        vertical-align: middle;

        &.login {
          font-size: 1.9rem;
          margin-right: 3px;
          text-decoration: none;
          padding: 6px 12px;
        }
      }
      .btn-reg {
        color: #46b8da;
        border: 1px solid #46b8da;

        &:hover {
          color: #fff;
          background: #46b8da;
          border: 1px solid #46b8da;
        }
      }
    }
  }
}

.neck {
  height: 380px;
  background-image: image-url('texture.png');
  background-size: 450px 450px;
  background-color: #262626;

  @media #{$tablet} {
    height: 450px;
  }

  @media #{$mobile} {
    height: 500px;
  }

  .slogan {
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;

    @media #{$tablet} {
      padding-top: 30px;
    }

    @media #{$mobile} {
      padding-top: 30px;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 100;

      @media #{$mobile} {
        font-size: 4rem;
      }
    }
    h2 {
      color: #a4acb1;
      margin:0 auto;
      max-width: 60%;
      font-size: 2.5rem;
      font-weight: 100;
      line-height: 1.3;

      @media #{$tablet} {
        margin-top: 30px;
      }

      @media #{$mobile} {
        margin-top: 30px; 
      }
    }
  }
  .sign-up {
    .action {
      margin: 55px auto;
      .get-started {
        text-align: center;
        float: none;
        margin: 0 auto;
      }
      .email {
        @media #{$tablet} {
          width: 100%;
        }

        @media #{$mobile} {
          width: 100%;
        }
      }
    }
  }
}

.view-section {
  background: #fff;
  color: #2e3033;
  text-shadow: none;
  font-weight: 300;
  letter-spacing: .9px;

  .container {
    padding: 60px 0;
    text-align: center;
    .image-section {
      img {
        width: 80%;
        box-shadow: 1px 1px 10px #bbb;
      }
    }

    .text-section {
      text-align: left;
      font-size: 1.2em;

      p {
        color: #848484;
        line-height: 1.4;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      ul {
        li {
          padding: 3px 0;
          .fa {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #f8f8f8;
  color: #4e4e4e;
  line-height: 30px;
  padding: 50px 200px;

  .text-section {
    h3 {
      margin-bottom: 20px;
      font-weight: 300;
    }

    p {
      margin-bottom: 0;
      font-weight: 300;
    }

    a {
      color: #4e4e4e;
      text-decoration: none;
      letter-spacing: 4px;
      font-weight: 300;
    }
  }

  .fb-share-button {
    span {
      vertical-align: inherit !important;
    }
  }

  .github {
    display: inline-block;
    width: 60px;
    margin-left: 2px;
  }
}

#sign-up-form .modal-dialog {
  @media #{$desktop} {
    width: 30%;
  }
}