@import 'global_vars';

$default_font_color: #46b8da;

html {
  background-color: transparent;
  // background-image: image-url('/assets/bg.png');
}

/*
body {
  font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,STXihei,"Microsoft YaHei","微软雅黑",sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}
*/

.middle {
  float: none;
  margin: 0 auto;
}

#nav {
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  width: 100%;
  .nav-inner {
    background: #FFFFFF;
  }
  .container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    .right {
      float: right;
      span.text {
        padding: 15px 0 15px 15px;
      }
    }
  }
  .nav-logo {
    line-height: 50px;
    font-size: 2em;
    margin-bottom: -45px;
    a {
      width: 120px;
      margin: 0 auto;
      text-decoration: none;
      color: $default_font_color;
    }
  }
}

.header-section {
  background: #fff;
  .container {
    text-align: center;

    a.logo {
      position: absolute;
      text-decoration: none;
      color: $default_font_color;
      font-size: 3rem;
      line-height: 90px;
      left: 50%;
      width: 90px;
      margin-left: -35px;
      font-weight: 300;
    }

    .header-actions {
      line-height: 90px;

      .btn {
        font-weight: 300;
        font-size: 1.8rem;
        color: #848484;
      }
      .btn-reg {
        color: #46b8da;
        border: 1px solid #46b8da;

        &:hover {
          color: #fff;
          background: #46b8da;
          border: 1px solid #46b8da;
        }
      }
    }
  }
}

.neck {
  height: 380px;
  background-image: image-url('texture.png');
  background-size: 450px 450px;
  background-color: #262626;

  @media #{$tablet} {
    height: 450px;
  }

  @media #{$mobile} {
    height: 500px;
  }

  .slogan {
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;

    @media #{$tablet} {
      padding-top: 30px;
    }

    @media #{$mobile} {
      padding-top: 30px;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 100;

      @media #{$mobile} {
        font-size: 4rem;
      }
    }
    h2 {
      font-family: "Avenir Next","Avenir","brandon-grotesque","Helvetica Neue","Helvetica","Segoe UI","Calibri","Franklin Gothic Book","Verdana",sans-serif;
      color: #a4acb1;
      margin:0 auto;
      max-width: 60%;
      font-size: 2.5rem;
      font-weight: 100;
      line-height: 1.3;

      @media #{$tablet} {
        margin-top: 30px;
      }

      @media #{$mobile} {
        margin-top: 30px; 
      }
    }
  }
  .sign-up {
    .action {
      margin: 55px auto;
      .get-started {
        text-align: center;
        float: none;
        margin: 0 auto;
      }
      .email {
        @media #{$tablet} {
          width: 100%;
        }

        @media #{$mobile} {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  background: #fff;
  color: $default_font_color;
  text-shadow: none;

  .container {
    padding: 120px 0;
    text-align: center;
    .empower {
      .tab-first {
        .fa-circle {
          color: #E59866;
        }

        h3 {
          color: #767676;
        }
      }

      .tab-second {
        .fa-circle {
          color: #34495E;
        }

        h3 {
          color: #767676;
        }
      }

      .tab-third {
        .fa-circle {
          color: #1ABC9C;
        }

        h3 {
          color: #767676;
        }
      }

      h5 {
        margin-top: 10px;
        color: #c2e2f2;
        font-size: 2rem;
        font-weight: normal;
        line-height: 1;
      }
      h3 {
        margin-top: 10px;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1;
        padding-right: .55em;
        padding-left: .55em;
      }
    }
  }
}

.tail {
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 5px;

  a {
    color: #333;
  }

  .item {
    width: 60px;
    display: inline-block;
  }

  .fb-share-button {
    span {
      vertical-align: inherit !important;
    }
  }

  .github {
    display: inline-block;
    width: 60px;
    margin-left: 2px;
  }
}

#sign-up-form .modal-dialog {
  @media #{$desktop} {
    width: 30%;
  }
}