.navbar-nav.navbar-right {
  .new-room {
    font-weight: bold;
  }

  .premium-icon {
    position: absolute;
    left: 17px;
    top: 0;
  }
}

#error_explanation h2 {
  font-size: 13px;
}

.other-links a {
  line-height: 1.6;
}

.feedback-holder {
  float: right;
  background-color: #e94e1b;
  color: #fff;
  font-size: 18px;
  border-radius: 5px 0 0 0;
  position: fixed;
  right: 0;
  bottom: 0;

  span {
    display: inline-block;
    padding: 10px 0 10px 20px;
    cursor: pointer;
  }

  .close {
    margin-top: 11px;
    padding-right: 15px;
  }
}

.btn-feedback {
  color: #fff;
  background-color: #e94e1b;
  border-color: #e94e1b;

  &:hover, &:focus, &:active {
    background-color: #e94e1b !important;
    border-color: #e94e1b !important;
  }
}

.profile-image {
  width: 30px;
  height: 30px;
  position: relative;
  top: -5px;
  float: left;
  left: -5px;  
}
