.navbar{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11);
  border: 0px;
  color: #A1C3EE;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #666;

  b {
    color: #5bc0de;
  }
}