// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote-list {
  ul li input.btn {
    width: 100%;
    margin-bottom: 15px;
  }

  ul li input.btn:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

.vote-list {
  ul li {
    list-style-type: none;
  }
}

#storyListArea {
  .story-desc {
    color: #666;
    padding-right: 10px;
  }

  .story-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
  }

  .story-enter.story-enter-active {
    opacity: 1;
  }

  .story-leave {
    opacity: 1;
  }

  .story-leave.story-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .storyList {
    margin-top: 10px;

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1em;
      text-indent: 0.5em;

      li:before {
        content: "•";
        font-weight: bold;
        font-size: 20px;
        line-height: 0em;
        margin-right: 10px;
      }

      li.story {
        word-wrap: break-word;
        word-break: break-all;
      }

      li.story__ungroomed:first-child {
        font-weight: 500;
        &:before {
          content: "\25BA";
          font-weight: bolder;
          font-size: 12px;
          margin-right: 10px;
          line-height: 0em;
        }
      }
    }

    .story {
      .story--voted-point {
        margin-left: 10px;
      }

      .revote {
        margin-left: 10px;
        color: #555;
      }
    }
  }

  .nav-tabs {
    li:first-child {
      margin-left: 15px;
    }
  }

}

.people-list ul {
  list-style-type: none;

  li {
    padding: 5px 5px;
  }

  li.voted {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
    opacity: 1;
    border-left: 4px solid #5bc0de;
  }

  li:hover {
    cursor: pointer;
    background-color: #efefef;
  }

  li a {
    text-decoration: none;
    color: #333;
    padding-left: 5px;
  }

  li a .accessory {
    font-size: 100%;
    color: #333;
    font-weight: 400;
  }

  li i.person--avatar {
    img {
      height: 24px;
      width: 24px;
      border-radius: 15px;
    }
  }

  li.moderator a {
    &:after {
      content: "👑"; //Star: "\f005";
      padding-left: 5px;
    }
  }

  li.watcher a {
    &:after {
      content: "👲";
      padding-left: 5px;
    }
  }
}

.timer {
  i { font-style: normal; }
}

#actionBox li.row {
  padding-bottom: 5px;
}

#actionBox li.row {
  .bar {
    cursor: pointer;

    > div {
      box-shadow: 2px 1px 1px 0px rgba(0,0,0,.6)
    }
  }

  .bar div:hover {
    background: #5bc0de !important;
  }
}

#actionBox .openButton {
  border-top: 1px solid #ddd;
  margin-bottom: -10px;

  a {
    text-decoration: underline;
    color: #46b8da;
  }

  > div {
    text-align: center;
    padding: 10px;
  }
}

.room .room--share-link {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 1px;
  border: 0;
  margin: 0;
  padding: 0;
}

.room .panel {
  @media only screen and (max-device-width: 736px) {
    margin-bottom: 10px;
  }
}

.room form {
  .room--style--icon {
    cursor: pointer;
  }

  button.add {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .move-btn, .remove-btn {
    position: relative;
    width: 3%;
  }

  a.remove, a.move {
    font-size: 1.6em;
    text-decoration: none;
    position: absolute;
    top: 20px;
  }

  a.move {
    cursor: move;
  }

  a.remove {
    left: 2px;
    top: 33px;

    @media only screen and (max-device-width: 736px) {
      top: 28px;
    }
  }

  #story-row > .row {
    border-bottom: 1px dashed #ccc;
    padding-top: 10px;
    list-style-type: none;
  }

  #story-row .row:first-child .remove-btn {
    display: none;
  }

  .stories-section .import {
    text-decoration: none;
  }

  .stories-section .bulk-links textarea {
    height: 200px;
  }

  .schemes-type {
    .label {
      cursor: pointer;
    }
  }

  .point-values {
    display: none;

    &.active {
      display: block;
    }

    li input {
      width: 80px;
      margin-bottom: 15px;
    }
  }

  .story-form__desc {
    @media only screen and (max-device-width: 736px) {
      display: none;
    } 
  }
}

#board .modal-header {
  border-bottom: none;

  h4 {
    font-size: 20px;
  }
}

#board .modal-body {
  padding-top: 0;
}

.bootstrap-tagsinput {
  width: 100%;
}

.summary {
  .panel-title label {
    font-size: 70%;
  }
}

.screen form {
  margin-bottom: 25px;
}
