$serifFont: Georgia, Times, "Times New Roman", serif;
$openSansFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

.about, .faq, .post, .donate {
  h1 {
    font-family: $serifFont;
    margin-bottom: 20px;
  }

  h3 {
    font-family: $serifFont;
  }

  p {
    font-family: $serifFont;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .main {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

.post {
  min-height: 400px;
}

.donate {
  font-family: $openSansFont;

  h1, h3 {
    font-family: $openSansFont;
  }
  .line-spliter {
    span {
      top: -20px;
    }

    b {
      font-size: 28px;
    }
  }
}
