.typeahead {
  input.form-control {
    border: none;

    &:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }

  .fa-search {
    font-size: 1.3em;
  }

  .tt-menu {
    min-width: 116%;

    .tt-suggestion {
      &:hover {
        sub {
          color: #fff;
        }
      }

      padding: 3px 10px;

      .title {
        margin-left: 5px;
        font-weight: bold;
      }

      .indicator {
        font-style: normal;
        margin-left: 5px;
      }

      sub {
        color: #555;
        margin-left: 5px;
        bottom: 0px;
        font-size: 80%;
      }
    }
  }

  .group {
    border: 1px solid #ddd;
    border-radius: 4px;

    >span {
      display: table-cell;
    }

    >i.fa {
      display: table-cell;
      padding-top: 2px;
      padding-right: 8px;
      vertical-align: middle;
    }

    .twitter-typeahead {
      display: table !important;
    }
  }
}
