<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=903367569789665";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button item" 
  data-href="https://pokrex.com" 
  data-layout="button">
</div>

<span class="item twitter">
  <a href="https://twitter.com/share?text=Pretty awesome planning poker&hashtags=planningpoker,pointingpoker,agile" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>

<span class="item github">
  <iframe src="https://ghbtns.com/github-btn.html?user=hlcfan&repo=pokr&type=star&count=false" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</span>