<div class="col-xs-4 col-md-4 text-section">
  <h3>Pokrex</h3>
  <p>Poker + Rex</p>
</div>
<div class="col-xs-4 col-md-4 text-section">
  <h3>Links</h3>
  <ul class="">
    <li><a href="">About</a></li>
    <li><a href="">FAQ</a></li>
    <li><a href="">What's planning poker?</a></li>
  </ul>
</div>
<div class="col-xs-4 col-md-4">
  <h3>Share</h3>
  <ul class="">
    <li>
      <div id="fb-root"></div>  
      <div class="fb-share-button provider" data-href="https://pokrex.com" data-layout="button"></div>
    </li>
    <li>
      <div class="twitter provider">
      <a href="https://twitter.com/share?text=Pretty awesome planning poker&hashtags=planningpoker,pointingpoker,agile" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    </li>
    <li>
      <div class="github provider">
      <iframe src="https://ghbtns.com/github-btn.html?user=hlcfan&repo=pokr&type=star&count=false" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
    </li>
  </ul>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=903367569789665";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>