<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      <%= yield :inline_style %>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
