a.invitation__link, a.edit__link {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

a.edit__link {
  margin-left: 10px;
}

.link-divider {
  padding: 0 5px;
}

.invitation {
  .invitation__add {
    margin-top: 10px;

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .invitation__remove {
    margin-top: 3px;
    padding-left: 0;
    font-size: 1.3em;

    a {
      cursor: pointer;
    }
  }

  .invitation__icon--on {
    color: #5bc0de;
  }

  .invitation--sent {
    text-align: center;
  }
}
